<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->
<head>

    <title>Meetup Signin Form Flat Responsive Widget Template : W3layouts</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/login_style.css" type="text/css" media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="/static/css/login_font-awesome.min.css" type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

</head>
<!-- //Head -->

<!-- Body -->
<body>

    <section class="main">

        <div class="bottom-grid">
            <div class="logo">
                <h1> <a href="login.html"> xuehui的秘密空间</a></h1>
            </div>
        </div>
        <div class="content-w3ls">
            <div class="text-center icon">
                <span class="fa fa-meetup"></span>
            </div>

            <div class="content-bottom">
                <form action="#" method="post">



                    <div class="field-group">
                        <span class="fa fa-user" aria-hidden="true"></span>
                        <div class="wthree-field">
                                <input type="text" name="username" required lay-verify="username" placeholder="Username"
                                       autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="field-group">
                        <span class="fa fa-lock" aria-hidden="true"></span>
                        <div class="wthree-field">
                                <input type="password" name="password" required lay-verify="password"
                                       placeholder="Password" autocomplete="off" class="layui-input">
                        </div>
                    </div>


                    <div class="wthree-field">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                    {{/*<ul class="list-login">*/}}
                        {{/*<li class="switch-agileits">*/}}
                            {{/*<label class="switch">*/}}
                                {{/*<input type="checkbox">*/}}
                                {{/*<span class="slider round"></span>*/}}
                                {{/*keep Logged in*/}}
                            {{/*</label>*/}}
                        {{/*</li>*/}}
                        {{/*<li>*/}}
                            {{/*<a href="#" class="text-right">forgot password?</a>*/}}
                        {{/*</li>*/}}
                        {{/*<li class="clearfix"></li>*/}}
                    {{/*</ul>*/}}
                    {{/*<ul class="list-login-bottom">*/}}
                        {{/*<li class="">*/}}
                            {{/*<a href="#url" class="">Create Account</a>*/}}
                        {{/*</li>*/}}
                        {{/*<li class="">*/}}
                            {{/*<a href="#url" class="text-right">Need Help?</a>*/}}
                        {{/*</li>*/}}
                        {{/*<li class="clearfix"></li>*/}}
                    {{/*</ul>*/}}
                </form>
            </div>
        </div>
    </section>

</body>
<!-- //Body -->

</html>
