 <div class="article-category shadow">
        <div class="article-category-title">分类导航</div>
        <div class="clear"></div>
    </div>
    <div class="blog-module shadow">
        <div class="blog-module-title">热门文章</div>
        <ul class="fa-ul blog-module-ul">
            {{range .hosts}}
            <li style="line-height: 30px"><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html?id={{.Id}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
    <!--右边悬浮 平板或手机设备显示-->
    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
</div>
